@import 'header';
@import 'common';
@import 'button';
@import 'form';
@import 'card';
@import 'profile';
@import 'comment';
@import 'actiontext';
@import 'followings';
@import 'trix/dist/trix';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-size: 1em;
  margin: 8px;
  // background-color: #fff;
  // background-image:
  //   linear-gradient(-90deg, #EEEEEE 50%, transparent 50%),
  //   linear-gradient(#EEEEEE 50%, transparent 50%);
  // background-size: 20px 20px;
}

.container {
  width: 100%;
  margin-top: 80px;
  padding-bottom: 12px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}


a:visited {
  color: black;
}

a:link {
  color: black;
}

.dark_color {
  // background-color: #333333;
  background-color: #555555;
  background-image:
    linear-gradient(-90deg, #000000 50%, transparent 50%),
    linear-gradient(#000000 50%, transparent 50%);
  background-size: 20px 20px;
}

.dark_font {
  color: white;
}
