.float_btn {
  position: fixed;

  img {
    width: 64px;
    height: 64px;
  }
}

.btn-submit {
  text-align: center;
}

.btn-primary {
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
  max-width: 500px;
  background-color: black;
}

.back {
  bottom: 16px;
  left: 16px;
}

.new_opinion {
  bottom: 16px;
  right: 16px;
}
