.float_btn {
  position: fixed;

  img {
    width: 64px;
    height: 64px;
  }
}

.btn-submit {
  text-align: center;
}

.btn-primary {
  border: none;
  width: 56%;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
  background-color: black;
}

.back {
  bottom: 0px;
  left: 16px;
  z-index: 1;
}

.new_opinion {
  bottom: 16px;
  right: 16px;
}

.all_btn {
  width: 40px;
  height: 24px;
  font-size: 16px;
  margin-right: 8px;
  margin-top: 4px;
}
