.card {
  position: relative;
  margin-bottom: 24px;
  min-height: 184px;
  background: #F4F4F4;
  border-radius: 10px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;

  &_title {
    position: absolute;
    height: 24px;
    left: 16px;
    top: 32px;

    font-size: 24px;
    line-height: 24px;
    color: #000000;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_content {
    position: absolute;
    padding: 8px 16px;
    top: 64px;

    font-size: 16px;
    line-height: 16px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.5;
  }

  &_detail {
    position: absolute;
    padding: 0px 16px;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
    line-height: 16px;
    color: blue;
    display: flex;

    &_author {
      margin-right: 8px;
    }

    &_delete {
      margin-top: 8px;
      margin-left: 8px;
      img {
        height: 24px;
        width: 24px;
      }
    }

    &_avatar {
      img {
        height: 32px;
        width: 32px;
      }
    }
  }
}


