.comment {
  &_btn {
    float: right;
    img {
      height: 64px;
    }
  }
}

.comments_user {
  img {
    height: 32px;
    width: 32px;
  }
}

.sm {
  min-height: 10px;
}

.comment_form {
  position: fixed;
  left: 8px;
  right: 8px;
  bottom: 0px;
  background-color: white;
}

.comments_container {
  margin-bottom: 20px;
}

.opinion_comment {
  width: 100%;
  word-break : break-all;
  overflow: hidden;
}
