input {
  &.text {
    width: 99%;
    margin: 8px 0px;
    padding: 8px 2px;
    border: 2px solid #EBEBEB;
  }
}

label {
  font-size: 12px;
}

textarea {
  width: 99%;
  margin: 8px 0px;
  padding: 8px 2px;
  min-height: 320px;
  resize: vertical;
  border: 2px solid #EBEBEB;
}
