input, select {
  &.text {
    width: 99%;
    margin: 8px 0px;
    padding: 8px 0px;
    border: 2px solid #EBEBEB;
  }

  &.sub_text{
    width: 88%;
    margin: 8px 0px;
    padding: 8px 0px;
    border: 2px solid #EBEBEB;
  }
}

label {
  font-size: 12px;
}

textarea, trix-editor {
  width: 99%;
  margin: 8px 0px;
  padding: 8px 0px;
  min-height: 320px;
  resize: vertical;
  border: 2px solid #EBEBEB;
}

.trix-button-group {
  background-color: white;
}

.ric {
  background-color: white;
}

.sign {
  margin-top: 32px;
}

.actions {
  margin: 16px 0px;
  text-align: center;
}

.two_opinion {
  display: flex;
  margin-top: 16px;
}

.red_opinion {
  flex: 1;
  img {
    height: 32px;
    margin-left: 8px;
  }
}

.blue_opinion {
  flex: 1;
  img {
    height: 32px;
    margin-left: 8px;
  }
}

.opinion_ex {
  display: flex;
  justify-content: flex-end;
  &_text {
    padding-top: 4px;
  }
}
