.profilePage {
  padding-top: 16px;
  margin-bottom: 32px;
  text-align: center;

  &_image {

    img {
      width: 64px;
    }
  }

  &_name {
    margin: 8px 0;
  }

  &_bio {
    padding: 0 40px;
  }

  &_count {
    &_container {
      display: flex;
      justify-content: center;
      margin-left: 48px;
    }

    &_followings {
      margin-left: 24px;
      margin-right: 24px;
    }
  }

  &_followbtn {
    width: 88px;
    height: 28px;
    border: 1px solid ;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
  }
}

#profile-upload {
  display: none;
}

.avatar_cancel {
  display: inline-block;
}

.upload_btn {
  display: inline-block;
}

.unfollow_btn {
  background-color: #C0C0C0;
  width: 128px;
  margin: 0 auto;
  border-radius: 4px;
}

.follow_btn {
  background-color: #C0C0C0;
  width: 128px;
  margin: 0 auto;
  border-radius: 4px;
}
