.profilePage {
  padding-top: 16px;
  margin-bottom: 32px;

  &_image {
    text-align: center;

    img {
      width: 64px;
    }
  }

  &_upload {
    text-align: center;
  }

  &_name {
    text-align: center;
    margin: 8px 0;
  }

  &_bio {
    padding: 0 40px;
  }
}

#profile-upload {
  display: none;
}

.avatar_cancel {
  display: inline-block;
}

.upload_btn {
  display: inline-block;
}
